@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.open {
    display: flex !important;
}

head {
    background: #FEF8F5;
}

.header-container {
    position: relative;
    width: 100%;
    height: auto;
}

.header-container img.background {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}

.header__burger-btn {
    background: none;
    border: none;
    outline: none;
    display: none;
    position: absolute;
    width: 5vw;
    height: 5vw;
    border: none;
    z-index: 5;
    margin-left: 6vw;
    margin-top: 4vw;
}

.header__burger-btn span {
    position: absolute;
    width: 80%;
    height: 7%;
    background-color: #ffffff;
    left: 3px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-1vw);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(1vw);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.logo {
    display: flex;
    position: absolute;
    top: 7vw;
    left: 10%;
    z-index: 10;
    display: flex;
    align-items: center;
}

.trk {
    width: auto;
    height: 3vw;
}

.trafico {
    position: relative;
    font-family: DM Serif Display;
    font-size: 2vw;
    font-weight: 4vw;
    line-height: 1vw;
    text-align: left;
    color: #ffffff;
}


.menu__list li {
    list-style: none;
}


@media (min-width: 901px) {

    .logo,
    .menu {
        position: absolute;
        z-index: 10;
    }

    .nav-bar {
        margin-right: 40%;
    }



    #btn {
        background-color: #EE4D47;
        border-radius: 8px;
    }

    .menu_list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-left: 38vw;
        margin-top: 8.2vw;
    }

    li {
        margin-right: 4vw;
    }

    .menu_link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.96px;
        letter-spacing: 0.05em;
        text-align: center;
        padding: 10px 15px;
        transition: color 0.3s ease;
    }

    .menu_link:hover {
        color: #000000;
    }

    .text {
        width: 40%;
        position: absolute;
        z-index: 10;
        font-family: 'DM Serif Display', serif;
        font-size: 5vw;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        color: #FFFFFF;
        top: 180px;
        left: 15%;
        right: 10%;
        word-wrap: break-word;
    }


    .car {
        transition: transform 2s ease-in-out;
        position: absolute;
        width: 37%;
        justify-content: start;
        top: 52vw;
        z-index: 20;
    }
    
    @keyframes move-right {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(100vw);
        }
    }
    
    .car.animating {
        animation: move-right 2s linear forwards;
    }


}

@media (min-width: 1050px) {
    .menu_list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-left: 42vw;
        margin-top: 8.2vw;
    }

    
}

@media (min-width: 1170px) {
    .menu_list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-left: 48vw;
        margin-top: 8.2vw;
    }
}

@media (min-width: 2000px) {
    .menu_list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-left: 55vw;
        margin-top: 8.2vw;
    }
}

@media (max-width: 900px) {
    .logo {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 6vw;
        right: 10%;
        z-index: 100;
        display: flex;
        align-items: center;
    }

    .logo img.trk {
        margin-right: 10px;
    }

    .header__burger-btn {
        display: block;
        left: 0;
        z-index: 1000;
    }

    .menu {
        position: absolute;
        left: -300px;
        top: 0;
        background-color: #ecdfd8;
        padding: 75px 20px 20px 20px;
        color: #FFFFFF;
        width: 250px;
        height: 100%;
        transition: transform .5s;
        z-index: 100;
    }

    li {
        padding: 30px;
    }

    .menu_list {
        list-style-type: none;
    }

    .menu__list li {
        list-style: none;
        margin-bottom: 20px;
    }


    .menu_link {
        color: #ffffff;
        text-decoration: none;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.96px;
        letter-spacing: 0.05em;
        text-align: center;
        transition: color 0.3s ease;
    }

    .menu_link:active {
        color: #000000;
    }

    .menu_link:focus {
        outline: none;
    }

    .menu_link:hover {
        color: #EE4D47;
    }

    .header.open .menu {
        transform: translateX(100%);
    }

    .text {
        width: 40%;
        position: absolute;
        z-index: 10;
        font-family: 'DM Serif Display', serif;
        font-size: 5vw;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        color: #FFFFFF;
        top: 50px;
        left: 20%;
        right: 10%;
        word-wrap: break-word;
    }

    

    .car {
        transition: transform 2s ease-in-out;
        position: absolute;
        width: 37%;
        justify-content: start;
        top: 52vw;
        z-index: 20;
    }
    
    @keyframes move-right {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(100vw);
        }
    }
    
    .car.animating {
        animation: move-right 2s linear forwards;
    }

}


@media (max-width: 650px) {
    .start {
        position: relative; /* Залишаємо кнопку в потоці документа */
        margin: 20px auto; /* Центруємо кнопку по горизонталі */
        width: auto;
        max-width: 80%; /* Обмежуємо ширину кнопки до 80% ширини екрану */
        z-index: 10;
        background-color: #EE4D47;
        padding: 15px 0; /* Вирівнюємо текст по вертикалі */
        color: #FFFFFF;
        text-decoration: none;
        font-family: Rubik;
        font-size: 24px; /* Збільшуємо розмір тексту */
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center; /* Центруємо текст по горизонталі */
        align-items: center; /* Центруємо текст по вертикалі */
        transition: background-color 0.3s ease; /* Плавна зміна фону */
        text-align: center;
        white-space: nowrap; /* Забороняємо перенесення тексту */
    }
    
    .start:hover {
        background-color: #D43C3C;
    }
    
    .start:active {
        background-color: #BB3A3A;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
}

@media (min-width: 650px) {
    .start {
        position: absolute;
        z-index: 10;
        font-family: 'Rubik', sans-serif;
        font-size: 1.5vw;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #EE4D47;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: -30%;
        left: 15%;
        transition: background-color 0.3s ease;
    }

    .start:hover {
        background-color: #D43C3C;
    }
    
    .start:active {
        background-color: #BB3A3A;
    }
}